@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'SUITE-Regular';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/SUITE-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

*{margin: 0; padding: 0; font-family: SUITE-Regular;}
ul{list-style: none;}
a{text-decoration: none; color: black;}

.swiper-button-next:after, .swiper-button-prev:after {position: absolute; color: #fff;}
.swiper-button-next:after {right: 100%;}
.swiper-button-prev:after {left: 100%;}
.swiper-pagination-bullet{
     --swiper-pagination-bullet-inactive-color : #fff !important;
}
@media screen and (max-width: 768px) {
     .swiper-button-next:after {display: none;}
     .swiper-button-prev:after {display: none;}      
}
.swiper-pagination-bullet-active {
     --swiper-theme-color: rgba(255, 255, 255, 0.8);
     --swiper-pagination-bullet-width: 40px;
     --swiper-pagination-bullet-height: 12px;
     --swiper-pagination-bullet-border-radius: 10px;
}     